<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heyyy</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<div class="large-8 medium-12 small-12 centered columns clearfix logo_div" style="float: right;">
  <a class="navbar-logo" href="#HOME">
    <img src="https://nextrio.com/wp-content/themes/nextrio-it/assets/images/nextrio-logo.png" / alt="nextio logo ">
  </a>
</div>
<nav class="navbar-default nav-upper">
  <div class="container">
    <div class="large-8 medium-12 small-12 centered columns clearfix">
      <ul class="nav navbar-upper">
        <li class="left_top_button"><a href="#">CUSTOMER LOGIN</a>
        </li>
        <li class="right_top_button"><a href="#">REMOTE SUPPORT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-default navbar-static-top navbar-lower" style="margin-bottom: 0px;">
  <div class="container">
    <div class="large-8 medium-12 small-12 centered columns clearfix">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="#">HOME</a>
          </li>
          <li><a href="#">SERVICES</a>
          </li>
          <li><a href="#" class="active">ABOUT</a>
          </li>
          <li><a href="#">WHAT'S NEW</a>
          </li>
          <li><a href="#">SOLUTIONS</a>
          </li>
          <li><a href="#">CONTACT</a>
          </li>
          <li><a href="#">CAREERS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<body>
    <div class="circle-top">

    </div>
<div class="circle-bottom"></div>
<header>
  <div class="header-content">
    <span>Nachiket First Website</span>
    <h1>This Amazing For me</h1>
  </div>
</header>
<section>
  <div class="card-top">
    <div class="card">
      <img src="https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg" alt="Alexandra Smith">
      <h2>Mini Cat</h2>
      <p>Java Developer</p>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/774731/pexels-photo-774731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="John Smith">
      <h2>Persion</h2>
      <p>React Developer</p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.pexels.com/photos/669015/pexels-photo-669015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Erik Longman">
    <h2>Erik Longman</h2>
    <p>Chief Process and Innovation <%=Officer%></p>
  </div>
  <div class="card">
    <img src="https://images.pexels.com/photos/2216607/pexels-photo-2216607.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Matthew Foster">
    <h2>Matthew Foster</h2>
    <p>Chief Sales <%=Officer%></p>
  </div>
  <div class="card">
    <img src="https://images.pexels.com/photos/1043473/pexels-photo-1043473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Artur Dichter">
    <h2>Artur Dichter</h2>
    <p>Chief Financial <%=Officer%></p>
  </div>
  <div class="card">
    <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Oliver Rohlsson">
    <h2>Oliver Rohlsson</h2>
    <p>Chief Technical <%=Officer%></p>
  </div>
  <!-- <div class="card">
    <img src="https://images.pexels.com/photos/262391/pexels-photo-262391.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="James Hedge">
    <h2>James Hedge</h2>
    <p>Chief Legal <%=Officer%></p>
  </div> --> 
  <!-- <!-- <div class="card">
    <img src="https://images.pexels.com/photos/1181690/pexels-photo-1181690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Eve Johnsson">
    <h2>Eve Johnsson</h2>
    <p>HR Manager <%=Officer%></p>
  </div> -->
</section>
 <script src="/javascript/script.js"></script>
</body>
</html>